.card.card-container {
    top: 90px;
    width: 50%;
    margin: 0 auto;
	border: unset;
}
.card.card-container h2 {
    color: #0069d9;
    text-align: center;
}
.sidebar-menus {
    float: left;
    width: 20%;
}
.content {
    float: left;
    width: 80%;
}
.sidebar-menus li {
    list-style: none;
}
.float-end {
    margin-top: 7px;
    margin-left: -10px;
}
table.headings {
    width: 100%;
}
.login-page-logo img{
	display:block;
	margin: 0 auto;
}
.text-white.h2.login { text-align: center;
    padding-top: 33px;
    font-size: 25px;}
.all-modules {
    padding-left: 21px;
}